.showExamsLoadingPara {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}
.showExamsBody {
  font-family: "Arial", sans-serif;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.showExamsHead {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  border-radius: 0.5rem;
}

.exam-container {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.exam-container:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.exam-container h3 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

.exam-container h4 {
  font-size: 1.25rem;
  color: #777;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
}

.exam-container h5 {
  font-size: .8rem;
  color: #777;
  margin-bottom: 10px;  
}

.question-container {
  margin: 15px 0;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 5px;
  border-left: 4px solid #0073e6;
}

.question-container p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

.question-container ul {
  list-style-type: square;
  margin-left: 20px;
  padding-left: 0;
}

.question-container li {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 5px;
}

.question-container strong {
  color: #0073e6;
}

.showExamsBody p {
  text-align: center;
  font-size: 1rem;
  color: #999;
}
